name: Pre-commit auto-update
# PAT github secret has to be created with repo scope
# add the secret to the repo settings
on:
  # every monday
  schedule:
    - cron: "0 7 * * 1"
  # on demand
  workflow_dispatch:
#{% raw %}
jobs:
  pre-commit-update:
    runs-on: ubuntu-latest
    name:
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update pre-commit hooks
        uses: brokenpip3/action-pre-commit-update@0.0.1
        with:
          github-token: ${{ secrets.PAT }}
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@v0.16.3"
        env:
          GITHUB_TOKEN: "${{ secrets.PAT }}"
          MERGE_METHOD: squash
          MERGE_REQUIRED_APPROVALS: "0"
          MERGE_LABELS: automerge
#{% endraw %}
