name: Pre-commit auto-update

on:
  # every monday
  schedule:
    - cron: "0 7 * * 1"
  # on demand
  workflow_dispatch:

jobs:
  pre-commit-update:
    runs-on: ubuntu-latest
    name:
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Update pre-commit hooks
        uses: brokenpip3/action-pre-commit-update@0.0.1
        with:
          github-token: ${{ secrets.PAT }}
