name: Pre-commit auto-update
# PAT github secret has to be created with repo scope
# add the secret to the repo settings
on:
  # every monday
  schedule:
    - cron: "0 7 * * 1"
  # on demand
  workflow_dispatch:
#{% raw %}
jobs:
  pre-commit-update:
    runs-on: ubuntu-latest
    name:
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update pre-commit hooks
        uses: brokenpip3/action-pre-commit-update@0.0.1
        with:
          github-token: ${{ secrets.PAT }}
      - name: Add label
        uses: ynab/pr-labeler-action@v1
        with:
          branch_label_mappings: >-
            {
              "auto-update-pre-commit-hooks":"automerge",
            }
#{% endraw %}
